{
    "info": {
        "names": ["Миш", "Мишка", ".", "/"]
    },
    "plugins": [
        "Prefix",
        "Echo"
    ],
    "managers": [
        {
            "type": "vkontakte",
            "token": "api token"
        },
        {
            "type": "telegram",
            "token": "api token",
            "proxy": ""
        }
    ]
}
